{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": ["transform-es2015-modules-commonjs"]
}